@charset "UTF-8";



/* /////////////////////////////////////////////// */
/* ////////////////// HEADER ind ///////////////// */ 
/* /////////////////////////////////////////////// */

/*
header#header {
	border: 1px solid #000;
}
*/
#header>* {
	/*border: 1px solid #f80;*/
	margin: 0 20px;
}
#header>nav#gnb {
	padding: 10px;
	flex: 1;
}
#header>#gnb>ul#mainMenu {
	height: 80px;
	/*border: 2px solid #08f;*/	
	align-items: center;	
	justify-content: center;
}
/* #header>#gnb>#mainMenu>li:nth-child(2n-1) {
	width: 100px;
	border: 1px solid #000;
} */
#header>#gnb>#mainMenu>li:nth-child(2n) {
	margin-left : 50px;
	margin-right: 600px;
}
#header>#gnb>#mainMenu>li>a {
	color: #555;
	width: 100px;
	font-size: 18px;
	text-align: center;
	display: inline-block;
}
#header>#gnb>#mainMenu>li:hover>a {
	font-weight: bold;
}
/* 템플릿  header#header 끝 */



/* /////////////////////////////////////////////// */
/* ///////// HEADER 아이콘 드랍박스 메뉴 ///////// */ 
/* /////////////////////////////////////////////// */

.dropdown{
	position : relative;
	display : inline-block;
}

.dropbtn_icon{
	font-family : 'Material Icons';
}
.dropbtn{
	cursor : pointer;
	width:25px;
}
.dropdown-content{
	display : none;
	position : absolute;
	z-index : 1; /*다른 요소들보다 앞에 배치*/
	font-weight: 400;
	background-color: #f9f9f9;
	min-width : 150px;
}

.dropdown-content a{
	display : block;
	text-decoration : none;
	color : rgb(37, 37, 37);
	font-size: 12px;
	padding : 12px 20px;
}

.dropdown-content a:hover{
	background-color : #ececec
}

.dropdown:hover .dropdown-content {
	display: block;
}




/* /////////////////////////////////////////////// */
/* ////// 템플릿 main#main nav#mainLNB 시작 ////// */ 
/* /////////////////////////////////////////////// */


main#main>div#lnb>nav#mainLNB>ul#lnbMainMenu>li {
	width: 140px;
	border-bottom: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}
main#main>#lnb>#mainLNB a {
	width: 140px;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	padding-left: 20px;
	display: inline-block;
}
main#main>#lnb>#mainLNB li:hover>a {
	background-color : #ececec;
	font-weight: 600;
}
/* 템플릿  main#main nav#mainLNB 끝 */





/* /////////////////////////////////////////////// */
/* ////////// 템플릿 footer#footer 시작 ////////// */ 
/* /////////////////////////////////////////////// */

footer#footer a, 
footer#footer address {
	font-size: 11px;
	text-align: center;
}

#footer>nav#footerGNB>ul#footerMainMenu {
	justify-content: center;
}
/*
#footer>nav#footerGNB>ul#footerMainMenu>li {
	border: 1px solid #000;
}
*/
#footer>nav#footerGNB>ul#footerMainMenu>li:nth-child(2n) {
	margin: 0 10px;
}
#footer>nav#footerGNB>ul#footerMainMenu>li:hover>a {
	font-weight: bold;
}

#footer>.dFlex {
	margin: 4px;
	justify-content: center;
}
#footer>.dFlex>* {
	margin: 0 10px;
	content: "ㆍ";
	font-size: 12px;
	position: relative;
	top: 3px;
}
#footer>.dFlex>*::before {
}
/* 템플릿  footer#footer 끝 */






/* /////////////////////////////////////////////// */
/* ////////////// index display:flex ///////////// */ 
/* /////////////////////////////////////////////// */


div#contents.index{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 12px;
}

div#contents.index>div.innerContents {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 480px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin: 3px;
	padding: 5px;
	/* align-items: stretch; */
}

div#contents.index>div.innerContents:last-child {
	width: 980px;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	margin: 5px;
}

div#contents.index>div.innerContents>div.innerContents_2{
	/* border : 1px solid pink; */
	padding: 2px 5px;
}

div#contents.index>div.innerContents>div.innerContents_2:first-child{
	line-height: 30px;
}
div#contents.index>div.innerContents>div.innerContents_2:last-child{
	flex: 1;
}
















